.worktrees/
.superpowers/
.artifacts/
FocusCore/[Ll]ibrary/
FocusCore/[Tt]emp/
FocusCore/[Oo]bj/
FocusCore/.utmp/
FocusCore/.cxx/
FocusCore/[Ll]ogs/
FocusCore/[Uu]ser[Ss]ettings/
FocusCore/[Bb]uild/
FocusCore/[Bb]uilds/
FocusCore/.vs/
FocusCore/*.csproj
FocusCore/*.sln
FocusCore/*.slnx
FocusCore/*.user
*.keystore
*.blend1
*.blend2
FocusCore/Assets/Resources/DevAgentSettings.asset*
FocusCore/Assets/Resources/PerformanceTestRun*.json*
